@import "tailwindcss";

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #525252, #2C3E50)
}

.container {
    background: #444;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
}

.navbar {
    background: white;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.hero {
    display: flex;
    align-items: center;
    min-height: 80vh;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

p {
    color: #ddd;
}

.mockup {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    border: none;
    padding: 10px 15px;
    background: #f8f9fa;
    margin-bottom: 5px;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #0056b3;
}
